<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="secondary-header">
      <h2>Calculations</h2>
      <div class="form-group">
        <select id="calculation-list" class="form-control input-sm filter" style="width: 100%">
          <option value="abv">Alcohol by Volume (ABV)</option>
          <option value="abw">Alcohol by Weight (ABW)</option>
          <option value="mcu">Malt Color Units (MCU)</option>
          <option value="srm">Standard Reverence Method (SRM)</option>
          <option value="aau">Alpha Acid Units (AAU)</option>
          <option value="ibu">International Bitterness Units (IBU)</option>
          <option value="utilization">Utilization</option>
          <option value="plato">Plato</option>
          <option value="real_extract">Real Extract</option>
          <option value="calories">Calories</option>
          <option value="attenuation">Attenuation</option>
          <option value="gu">Gravity Units (GU)</option>
        </select>
      </div>
    </div>
  </div>
</div>
