<div id="fg" class="row calculation">
  <div class="col-sm-2 col-md-2 header">
    <div class="title">
      <h3>Final Gravity</h3>
      <p>Expected Final Gravity After Boil</p>
    </div>
    <div class="links">
      <h6>CODE:</h6>
      <p><a href="https://github.com/brewerwall/beercalc_php" target="_blank">PHP</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_js" target="_blank">JS</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_ruby" target="_blank">RUBY</a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="col-sm-10 col-md-10">
    <div class="well well-dark">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <label for="fg-g" class="control-label">Specific Gravity</label>
            <input id="fg-g" type="text" class="form-control" placeholder="Specific Gravity">
          </div>
          <div class="col-sm-4 col-md-4">
            <label for="fg-vol_beg" class="control-label">Volume Beginning (gal)</label>
            <input id="fg-vol_beg" type="text" class="form-control" placeholder="Volume Beginning">
          </div>
          <div class="col-sm-4 col-md-4">
            <label for="fg-vol_end" class="control-label">Volume End (gal)</label>
            <input id="fg-vol_end" type="text" class="form-control" placeholder="Volume End">
          </div>
        </div>
        <div class="row result">
          <div class="col-sm-12 col-md-12">
            <div class="result-display">
              <span>Total Gravity(<span class="fg-display-g">Gravity</span>, <span class="fg-display-vol_beg">Volume Beginning</span>) / <span class="fg-display-vol_end">Volume End</span> = <span id="fg-value" class="result-value">Final Gravity</span></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
