@import fonts
@import utility

body
  background-color: #2f2f2f
  background-image: url('/img/bg.png')
  color: white
  font-family: "Avenir Next", "Avenir", "Helvetica Neue",Helvetica,Arial,sans-serif

pre
  background-color: #1e1e1e
  color: #e5bd51
  border: solid 1px #1e1e1e

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p
  font-weight: 100

.headline
  text-align: center
  background-image: url('/img/000000_20.png')

a
  div.card
    color: white
  &:hover
    text-decoration: none

div.card
  background-color: #4b6169
  min-height: 180px
  width: 100%
  text-align: center
  padding: 20px 5px 5px 5px
  border-bottom: solid 4px #2c3237
  cursor: pointer
  &:hover
    background-color: #577f8e
  img
    width: 80px
    color: black
    path
      color: red
  p
    min-height: 100px

div.dot
  &.active
    border: 4px #7ab4c9 solid
    padding-top: 11px
  &.active, &:hover
    background-color: #577f8e
  &.logo
    padding: 0px
    img
      width: 60px
  width: 60px
  height: 60px
  padding-top: 15px
  background-color: #4b6169
  -moz-border-radius: 30px
  border-radius: 30px
  text-align: center
  margin: 5px 0px
  display: inline-block
  img
    width: 30px

header
  margin-top: 20px
  div.logo
    img
      width: 68px
      margin-right: 10px
    h1, h2, h3, h4, h5
      display: inline-block
      vertical-align: middle
      font-size: 44px
    &.secondary
      h1, h2, h3, h4, h5
        display: inline-block
        vertical-align: middle
        font-size: 30px
        margin: 0px 0px 0px 8px
  ul.brew-nav
    text-align: right
    margin-top: 40px
    &.secondary
      margin-top: 20px
    li
      display: inline
      list-style-type: none
      padding: 4px 10px
      text-transform: uppercase
      background-color: #cf7c00
      -moz-border-radius: 5px
      border-radius: 5px
      font-size: 12px
      &:hover
        background-color: #ffbc2f
      a
        &:hover
          color: white
          text-decoration: none
        color: white

.table-brewerwall-list
  thead
    font-weight: 600
  td.empty
    text-align: center
    font-weight: 600
    line-height: 60px
    font-size: 14px

.secondary-header
  h1, h2, h3, h4, h5, h6, div.form-group, label, select
    display: inline-block

  h2:first-child
    border-right: 1px solid white
    padding-right: 14px

  div.form-group
    vertical-align: super
    margin-left: 4px
    label
      vertical-align: sub
      margin: 0px 3px
    select
      width: 80px
.srm
  display: inline-block
  text-align: center
  margin: 0px
  width: 70px
  .srm-dot
    width: 50px
    height: 50px
    -moz-border-radius: 15px
    border-radius: 15px
    margin: auto auto 4px auto
    line-height: 50px
    cursor: pointer
    &:hover
      -moz-box-shadow: 1px 1px 2px #000
      -webkit-box-shadow: 1px 1px 2px #000
      box-shadow: 1px 1px 2px #000
      /* For IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
      /* For IE 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')

@media (max-width: 768px)
  ul.brew-nav
    text-align: center !important
    margin-top: 20px !important
  div.logo
    text-align: center !important
