@import fonts

body
  background-color: #2f2f2f
  background-image: url('/img/bg.png')
  color: white
  font-family: "Avenir Next", "Avenir", "Helvetica Neue",Helvetica,Arial,sans-serif

pre
  background-color: #1e1e1e
  color: #e5bd51
  border: solid 1px #1e1e1e

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p
  font-weight: 100

.headline
  text-align: center

div.card
  background-color: #4b6169
  min-height: 180px
  width: 100%
  text-align: center
  padding: 10px 5px 5px 5px
  border-bottom: solid 4px #2c3237
  b
  img
    width: 100px
    color: black
    path
      color: red

header
  margin-top: 20px
  div.logo
    img
      width: 70px
      margin-right: 10px
    h1, h2, h3, h4, h5
      display: inline-block
      vertical-align: middle
      font-size: 48px
