@import fonts
@import utility

body
  background-color: #2f2f2f
  background-image: url('/img/bg.png')
  color: white
  font-family: "Avenir Next", "Avenir", "Helvetica Neue",Helvetica,Arial,sans-serif
  position: relative

pre
  background-color: #1e1e1e
  color: #e5bd51
  border: solid 1px #1e1e1e

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p
  font-weight: 100

.headline
  text-align: center
  background-image: url('/img/opacity_20.png')

a
  color: #ffbc2f
  div.card
    color: white
  &:hover
    color: #ffbc2f
    text-decoration: none
  &.no-decoration
    &:hover
      text-decoration: none !important

div.card
  min-height: 180px
  width: 100%
  text-align: center
  padding: 20px 5px 5px 5px
  cursor: pointer

  transition: background-color .1s ease-in
  -moz-transition: background-color .1s ease-in
  -webkit-transition: background-color .1s ease-in

  &:hover
    // background-image: url('/img/opacity_20.png')
    background-color: rgba(0, 0, 0, 0.2)
    transition: background-color .1s ease-in
    -moz-transition: background-color .1s ease-in
    -webkit-transition: background-color .1s ease-in

  img
    width: 80px
    color: black
    path
      color: red
  p
    min-height: 100px

div.dot
  &.active
    border: 4px #7ab4c9 solid
    padding-top: 11px
  &.active, &:hover
    background-color: #577f8e
    transition: background-color .1s ease-in
    -moz-transition: background-color .1s ease-in
    -webkit-transition: background-color .1s ease-in
  &.logo
    padding: 0px
    img
      width: 60px
  width: 60px
  height: 60px
  padding-top: 15px
  background-color: #4b6169
  transition: background-color .1s ease-in
  -moz-transition: background-color .1s ease-in
  -webkit-transition: background-color .1s ease-in
  -moz-border-radius: 30px
  border-radius: 30px
  text-align: center
  margin: 5px 0px
  display: inline-block
  img
    width: 30px

header
  margin-top: 10px
  div.logo
    img
      width: 68px
      margin-right: 10px
    h1, h2, h3, h4, h5
      display: inline-block
      vertical-align: middle
      font-size: 44px
    &.secondary
      h1, h2, h3, h4, h5
        display: inline-block
        vertical-align: middle
        font-size: 30px
        margin: 0px 0px 0px 8px
  ul.brew-nav
    text-align: right
    margin-top: 30px
    &.secondary
      margin-top: 25px
    li
      display: inline
      list-style-type: none
      padding: 4px 10px
      text-transform: uppercase
      background-color: #cf7c00
      -moz-border-radius: 5px
      border-radius: 5px
      font-size: 12px
      &:hover
        background-color: #ffbc2f
      a
        &:hover
          color: white
          text-decoration: none
        color: white

.footer
  background-color: #444
  position: absolute
  bottom: 0px
  left: 0px
  height: 50px
  width: 100%
  padding: 15px 10px

.table-brewerwall-list
  thead
    font-weight: 600
  td.empty
    text-align: center
    font-weight: 600
    line-height: 60px
    font-size: 14px

.secondary-header
  h1, h2, h3, h4, h5, h6, div.form-group, label, select
    display: inline-block

  &.with-bar
    h2:first-child
      border-right: 1px solid white
      padding-right: 14px

  div.form-group
    vertical-align: super
    margin-left: 4px
    label
      vertical-align: sub
      margin: 0px 3px
    select
      width: 80px
  .secondary-subset
    display: inline-block
    margin-top: 20px
    span.label
      margin: 0px 4px
      -moz-box-shadow: 1px 1px 2px #222222
      -webkit-box-shadow: 1px 1px 2px #222222
      box-shadow: 1px 1px 2px #222222
      /* For IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#222222')"
      /* For IE 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#222222')
      h6
        margin-top: 6px
        margin-bottom: 6px

.srm-container
  perspective: 1000
  display: inline-block
  margin: 3px 4px
  &:hover, &.hover
    .srm
      transform: rotateY(180deg)
  .srm
    transition: 0.6s
    transform-style: preserve-3d
    position: relative
    .front, .back
      backface-visibility: hidden
      position: absolute
      top: 0
      left: 0
      text-align: center
      -moz-border-radius: 5px
      border-radius: 5px
      label
        display: block
        -moz-top-left-border-radius: 5px
        border-top-left-radius: 5px
        -moz-top-right-border-radius: 5px
        border-top-right-radius: 5px
        margin-bottom: 15px
    .front
      z-index: 2
      label
        background-color: #eee
        color: #222
    .back
      transform: rotateY(180deg)
      background-color: #eee
      color: #333
      label
        color: white

.srm-container, .front, .back
  width: 70px
  height: 70px

.calculation
  .header
    text-align: right
    .links
      h1,h2,h3,h4,h5,h6
        margin: 0px
    .title
      h1,h2,h3,h4,h5,h6
        margin-bottom: 0px
  form
    margin-bottom: 0px
    margin-top: -10px
    .result
      border-top: solid 1px #999
      margin-top: 14px
      padding-top: 14px
      .result-display
        &.small
          span
            font-size: 14px
        color: white
        margin-bottom: 0px
        text-align: right
        span
          font-weight: 100
          font-size: 20px
        span.result-value
          border-bottom: 2px white solid
          color: white
          padding: 0px 5px
          font-weight: 400
.filters-container
  display: inline-block

.btn-filters
  margin-top: 20px

@media (max-width: 768px)
  ul.brew-nav
    text-align: center !important
    margin-top: 20px !important
  div.logo
    text-align: center !important

  div.dot
    width: 40px
    height: 40px
    padding-top: 10px
    &.active
      padding-top: 6px
    &.logo
      img
        width: 40px
    img
      width: 20px

  .calculation
    .header
      .title
        text-align: left
        float: left
      .links
        float: right
        margin-top: 32px
  .filters-container
    background-image: url('/img/opacity_20.png')
    width: 100%
    padding: 14px 0px 0px 0px
    margin-bottom: 10px
    label
      width: 70px
      text-align: right
  .secondary-header
    &.with-bar
      h2:first-child
        border-right: none
