<div id="aau" class="row calculation">
  <div class="col-sm-2 col-md-2 header">
    <div class="title">
      <h3>AAU</h3>
      <p>Alpha Acid Units</p>
    </div>
    <div class="links">
      <h6>CODE:</h6>
      <p><a href="https://github.com/brewerwall/beercalc_php" target="_blank">PHP</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_js" target="_blank">JS</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_ruby" target="_blank">RUBY</a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="col-sm-10 col-md-10">
    <div class="well well-dark">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <label for="aau-alpha" class="control-label">Alpha (%)</label>
            <input id="aau-alpha" type="text" class="form-control" placeholder="Alpha">
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="aau-weight" class="control-label">Weight (oz)</label>
            <input id="aau-weight" type="text" class="form-control" placeholder="Weight">
          </div>
        </div>
        <div class="row result">
          <div class="col-sm-12 col-md-12">
            <div class="result-display">
              <span><span class="aau-display-alpha">Alpha</span> x <span class="aau-display-weight">Weight</span> = <span id="aau-value" class="result-value">AAU</span></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
