<div id="plato" class="row calculation">
  <div class="col-sm-2 col-md-2 header">
    <div class="title">
      <h3>Plato</h3>
      <p>Convert Specific Gravity to Plato</p>
    </div>
    <div class="links">
      <h6>CODE:</h6>
      <p><a href="https://github.com/brewerwall/beercalc_php" target="_blank">PHP</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_js" target="_blank">JS</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_ruby" target="_blank">RUBY</a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="col-sm-10 col-md-10">
    <div class="well well-dark">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <label for="plato-gravity" class="control-label">Gravity (specific)</label>
            <input id="plato-gravity" type="text" class="form-control" placeholder="Gravity">
          </div>
        </div>
        <div class="row result">
          <div class="col-sm-12 col-md-12">
            <div class="result-display">
              <span>(-463.37) + (668.72 x <span class="plato-display-gravity">Gravity</span>) - (205.35 x <span class="plato-display-gravity">Gravity</span>^2) = <span id="plato-value" class="result-value">Plato</span></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
