<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="secondary-header">
      <h2>Beer Styles</h2>
      <div class="form-group">
        <label>ABV</label>
        <select id="abv" class="form-control input-sm filter">
          <option value="0">Any</option>
          <% for (x = _i = 1; _i <= 15; x = ++_i) { %>
            <option value="<%= x %>"><%= x %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <label>IBU</label>
        <select id="ibu" class="form-control input-sm filter">
          <option value="0">Any</option>
          <% for (x = _i = 1; _i <= 100; x = ++_i) { %>
            <option value="<%= x %>"><%= x %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <label>OG</label>
        <select id="og" class="form-control input-sm filter">
          <option value="0">Any</option>
          <% for (x = _i = 1; _i <= 1.14; x = _i=_i+.005) { %>
            <option value="<%= x.toFixed(3) %>"><%= x.toFixed(3) %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <label>FG</label>
        <select id="fg" class="form-control input-sm filter">
          <option value="0">Any</option>
          <% for (x = _i = 1; _i <= 1.05; x = _i=_i+.005) { %>
            <option value="<%= x.toFixed(3) %>"><%= x.toFixed(3) %></option>
          <% } %>
        </select>
      </div>
    </div>
    <div>
      <pre id="api-url">brewerwall.dev/api/beerstyles</pre>
    </div>
    <div id="list"></div>
  </div>
</div>
