<div id="mcu" class="row calculation">
  <div class="col-sm-2 col-md-2 header">
    <div class="title">
      <h3>MCU</h3>
      <p>Malt Color Units</p>
    </div>
    <div class="links">
      <h6>CODE:</h6>
      <p><a href="https://github.com/brewerwall/beercalc_php" target="_blank">PHP</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_js" target="_blank">JS</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_ruby" target="_blank">RUBY</a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="col-sm-10 col-md-10">
    <div class="well well-dark">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <label for="mcu-weight" class="control-label">Weight (lbs)</label>
            <input id="mcu-weight" type="text" class="form-control" placeholder="Weight">
          </div>
          <div class="col-sm-4 col-md-4">
            <label for="mcu-lovibond" class="control-label">Lovibond</label>
            <input id="mcu-lovibond" type="text" class="form-control" placeholder="Lovibond">
          </div>
          <div class="col-sm-4 col-md-4">
            <label for="mcu-volume" class="control-label">Volume (gal)</label>
            <input id="mcu-volume" type="text" class="form-control" placeholder="Volume">
          </div>
        </div>
        <div class="row result">
          <div class="col-sm-12 col-md-12">
            <div class="result-display">
              <span>(<span class="mcu-display-weight">Weight</span> * <span class="mcu-display-lovibond">Lovibond</span>) / <span class="mcu-display-volume">Volume</span> = <span id="mcu-value" class="result-value">MCU</span></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
