<table class="table table-condensed small table-brewerwall-list">
  <thead>
    <tr>
      <td>Name</td>
      <td>Origin</td>
      <td>Alpha</td>
      <td>Beta</td>
    </tr>
  </thead>
  <tbody>
    <% if(models.length > 0) { %>
      <% _.each(models, function(model, key, list){ %>
        <tr>
          <td><%= model.get('name') %></td>
          <td><%= model.get('origin') %></td>
          <td><%= model.get('alpha_min') %> - <%= model.get('alpha_max') %></td>
          <td><%= model.get('beta_min') %> - <%= model.get('beta_max') %></td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="5" class="empty">Nothing in our hop repository match the filtered criteria.</td>
      </tr>
    <% } %>
  </tbody>
</table>
