<table class="table table-condensed small table-brewerwall-list">
  <thead>
    <tr>
      <td class="hidden-xs">Name</td>
      <td class="hidden-xs">Origin</td>
      <td class="hidden-xs">Alpha</td>
      <td class="hidden-xs">Beta</td>
      <td class="visible-xs">Hops</td>
    </tr>
  </thead>
  <tbody>
    <% if(models.length > 0) { %>
      <% _.each(models, function(model, key, list){ %>
        <tr class="hidden-xs">
          <td><a href="/hops/<%= model.get('id') %>"><%= model.get('name') %></a></td>
          <td><%= model.get('origin') %></td>
          <td><%= model.get('alpha_min') %> - <%= model.get('alpha_max') %></td>
          <td><%= model.get('beta_min') %> - <%= model.get('beta_max') %></td>
        </tr>
        <tr class="visible-xs">
          <td>
            <a href="/hops/<%= model.get('id') %>"><%= model.get('name') %></a><br/>
            <span class="pull-right"><%= model.get('origin') %></span> Alpha: <%= model.get('alpha_min') %> - <%= model.get('alpha_max') %> |  Beta: <%= model.get('beta_min') %> - <%= model.get('beta_max') %>
          </td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="5" class="empty">Nothing in our hop repository match the filtered criteria.</td>
      </tr>
    <% } %>
  </tbody>
</table>
