<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="secondary-header with-bar">
      <h2>Hops</h2>
      <a id="filters-toggle" class="btn btn-primary pull-right btn-filters visible-xs">Filters</a>
      <br class="visible-xs"/>
      <div id="filters-container" class="filters-container">
        <div class="form-group">
          <label>Alpha</label>
          <select id="alpha" class="form-control input-sm filter">
            <option value="0">Any</option>
            <% for (x = _i = 1; _i <= 23; x = _i+=.5) { %>
              <option value="<%= x %>"><%= x %></option>
            <% } %>
          </select>
        </div>
        <br class="visible-xs"/>
        <div class="form-group">
          <label>Beta</label>
          <select id="beta" class="form-control input-sm filter">
            <option value="0">Any</option>
            <% for (x = _i = 1; _i <= 13; x = _i+=.25) { %>
              <option value="<%= x %>"><%= x %></option>
            <% } %>
          </select>
        </div>
        <br class="visible-xs"/>
        <div class="form-group">
          <label>Origin</label>
          <select id="origin" class="form-control input-sm filter">
            <option value="0">Any</option>
            <option value="Australian">Australian</option>
            <option value="Belgium">Belgium</option>
            <option value="Canada">Canada</option>
            <option value="Czech">Czech</option>
            <option value="French">French</option>
            <option value="German">German</option>
            <option value="India">India</option>
            <option value="Japan">Japan</option>
            <option value="N/A">N/A</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Polish">Polish</option>
            <option value="Russian">Russian</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Styrian">Styrian</option>
            <option value="UK">UK</option>
            <option value="US">US</option>
          </select>
        </div>
      </div>

    </div>
    <div>
      <pre id="api-url"><%= _domain %>/api/v1/hops</pre>
    </div>
    <div id="list"></div>
  </div>
</div>
