<div id="calculations" class="row calculation">
  <div class="col-sm-2 col-md-2 header">
    <div class="title">
      <h3>ABV</h3>
      <p>Blerb about abv and what it means.</p>
    </div>
    <div class="links">
      <h6>CODE:</h6>
      <p><a href="https://github.com/brewerwall/beercalc_php" target="_blank">PHP</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_js" target="_blank">JS</a>&nbsp;-&nbsp;<a href="https://github.com/brewerwall/beercalc_ruby" target="_blank">RUBY</a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="col-sm-10 col-md-10">
    <div class="well well-dark">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <label for="abv_og" class="control-label">OG</label>
            <input type="text" class="form-control" id="abv_og" placeholder="OG">
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="abv_fg" class="control-label">FG</label>
            <input id="abv_fg" type="text" class="form-control" placeholder="FG">
          </div>
        </div>
        <div class="row result">
          <div class="col-sm-12 col-md-12">
            <div class="result-display">
              <span>(<span>1.080</span> - <span>1.020</span>) x 131 = <span id="result-value" class="result-value">7.9%</span></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
