{% extends "layout_secondary.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h3>What is Brewerwall?</h3>
    <p>Brewerwall is a hub in which data is combined into a single location and accessible by all.  Either through RESTful services or through this site, anyone can take a look at elements used in brewing beer.  Also provided are utilities that can be used in a variety of programming languages.  Sourcecode is available on <a href="https://github.com/brewerwall" target="_blank">Github</a> and can be easily installed through package managers like <a href="https://www.npmjs.org/package/beercalc_js" target="_blank">npm</a>, <a href="https://packagist.org/packages/brewerwall/beercalc_php" target="_blank">composer</a> and <a href="https://rubygems.org/gems/beercalc" target="_blank">gem</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h3>Developers</h3>
    <p>
      <div class="members">
        <a href="https://twitter.com/griffithben" target="_blank"><img class="img-circle" src="http://www.gravatar.com/avatar/0fa9969718dbec611690c3b79a28009e"/></a>
        <h4>Ben Griffith</h4>
      </div>
    </p>
  </div>
</div>
{% endblock %}
