{% extends "layout.html" %}
{% block content %}
<div class="row">
   <div class="col-md-12 headline">
     <br/>
     <h1>An accurate resource for brewing data.</h1>
     <p>A collection of tools, data and programming resources for all of your beer needs!</p>
     <br/>
   </div>
</div>
<hr class="condensed"/>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-1">
      <a href="/styles" class="no-decoration">
        <div class="card">
          <img src="/img/beer.svg"/>
          <h3>STYLES</h3>
          <p>Style definitions from the brewers association, discretely available.</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <a href="/hops" class="no-decoration">
        <div class="card">
          <img src="/img/hops.svg" />
          <h3>HOPS</h3>
          <p>A massive collection of hop information and substitution options.</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <a href="/yeasts" class="no-decoration">
        <div class="card">
          <img src="/img/yeast.svg" />
          <h3>YEASTS</h3>
          <p>Discrete data of all your popular strains from Wyeast, White Labs and more.</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-offset-0 col-md-2">
      <a href="/calculations" class="no-decoration">
        <div class="card">
          <img src="/img/calculator.svg" />
          <h3>MATH</h3>
          <p>Common calculations for brewing to use along with open source access.</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-md-2 col-sm-offset-0 col-md-offset-0">
      <a href="/srms" class="no-decoration">
        <div class="card">
          <img src="/img/srm.svg" />
          <h3>SRM</h3>
          <p>A color wheel of your favorite beers referencing srm to a similar hex value.</p>
        </div>
      </a>
    </div>
</div>
<hr class="condensed"/>
<div class="row">
   <div class="col-sm-6 col-md-6">
     <h3>Simple Requests</h3>
     <p>Perform a GET request to retrieve all yeasts</p>
     <pre>$ curl http://{{ domain }}/api/v1/yeasts</pre>
     <p>Perform a GET request on a specific ID </p>
     <pre>$ curl http://{{ domain }}/api/v1/yeasts/1</pre>
     <p>Perform a POST request to filter on certain parameters</p>
     <pre>$ curl --data "temperature=80" http://{{ domain }}/api/v1/yeasts/</pre>
   </div>
   <div class="col-sm-6 col-md-6">
     <h3>JSON Everywhere</h3>
     <p>Responses from the server will return as JSON</p>
     <pre>
[{
  id: 1,
  laboratory: 'White Labs',
  strain: 'WLP001',
  name: 'California Ale Yeast',
  description: 'Description of the yeast here',
  attenuation_min: 73
  attenuation_max: 80
  flocculation: Medium
  temperature_min: 68
  temperature_max: 73
  tolerance: 15
}, {...}]
     </pre>
   </div>
</div>
<br/><br/>
<div class="row light">
   <div class="col-sm-4 col-md-3 col-md-offset-1 center">
     <h3>Bring in the Malt</h3>
     <img src="/img/grain.svg" style="width: 80px;" />
     <br/>
     <p>
       <br/>
       Malt is up next.  Once we have all the data put together, its yours!
     </p>
   </div>
   <div class="col-sm-4 col-md-4 center">
     <h3>Contribute</h3>
     <a href="https://github.com/brewerwall" target="_blank"><svg class="icon icon-primary icon-github" viewBox="0 0 32 32"><use xlink:href="#icon-github"></use></svg></a>
     <p>
       <br/>
       Help make Brewerwall even better!  Clone, Code and Push.
     </p>
   </div>
   <div class="col-sm-4 col-md-3 center">
     <h3>Follow</h3>
     <a href="https://www.facebook.com/brewerwallapp" target="_blank"><svg class="icon icon-primary icon-facebook" viewBox="0 0 32 32"><use xlink:href="#icon-facebook"></use></svg></a>
     <a href="https://twitter.com/brewerwall" target="_blank"><svg class="icon icon-primary icon-twitter" viewBox="0 0 32 32"><use xlink:href="#icon-twitter"></use></svg></a>
     <p>
       <br/>
       Follow Brewerwall to stay updated on the latest releases and features.
     </p>
   </div>
</div>

{% endblock %}
