{% extends "layout.html" %}
{% block content %}
<div class="row">
   <div class="col-md-12 headline">
     <br/>
     <h1>An accurate resource for brewing data.</h1>
     <p>A collection of tools, data and programming resources for all of your beer needs!</p>
     <br/>
   </div>
</div>
<hr class="condensed"/>
<div class="row">
    <div class="col-sm-2 col-md-2 col-md-offset-1 col-sm-offset-1">
      <a href="/styles" class="no-decoration">
        <div class="card">
          <img src="/img/beer.svg"/>
          <h3>STYLES</h3>
          <p>Style definitions from the brewers association, discretely available.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="/hops" class="no-decoration">
        <div class="card">
          <img src="/img/hops.svg" />
          <h3>HOPS</h3>
          <p>A massive collection of hop information and substitution options.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="/yeasts" class="no-decoration">
        <div class="card">
          <img src="/img/yeast.svg" />
          <h3>YEASTS</h3>
          <p>Discrete data of all your popular strains from Wyeast, White Labs and more.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="/calculations" class="no-decoration">
        <div class="card">
          <img src="/img/calculator.svg" />
          <h3>MATH</h3>
          <p>Common calculations for brewing to use along with open source access.</p>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="/srms" class="no-decoration">
        <div class="card">
          <img src="/img/srm.svg" />
          <h3>SRM</h3>
          <p>A color wheel of your favorite beers referencing srm to a similar hex value.</p>
        </div>
      </a>
    </div>
</div>
<hr class="condensed"/>
<div class="row">
   <div class="col-sm-6 col-md-6">
     <h3>Simple Requests</h3>
     <p>Perform a GET request to retrieve all yeasts</p>
     <pre>$ curl http://brewerwall.com/api/yeasts</pre>
     <p>Perform a GET request on a specific ID</p>
     <pre>$ curl http://brewerwall.com/api/yeasts/1</pre>
     <p>Perform a POST request to filter on certain parameters</p>
     <pre>$ curl --data "temperature=80" http://brewerwall.dev/api/yeasts/</pre>
   </div>
   <div class="col-sm-6 col-md-6">
     <h3>JSON Everywhere</h3>
     <p>Responses from the server will return as JSON</p>
     <pre>
[{
  id: 1,
  laboratory: 'White Labs',
  strain: 'WLP001',
  name: 'California Ale Yeast',
  description: 'Description of the yeast here',
  attenuation_min: 73
  attenuation_max: 80
  flocculation: Medium
  temperature_min: 68
  temperature_max: 73
  tolerance: 15
}, {...}]
     </pre>
   </div>
</div>
<hr class="consdensed"/>
{% endblock %}
