{% extends "layout_secondary.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-9 col-md-9">
    <h2>Beer Styles</h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <td>Name</td>
          <td>Origin</td>
          <td>ABV</td>
          <td>IBU</td>
        </tr>
      </thead>
      <tbody>
        {% for style in styles %}
          <tr>
            <td>{{ style.name }}</td>
            <td>{{ style.origin }}</td>
            <td>
              {% if style.abv_min == 0 and style.abv_max == 0 %}
                Any
              {% else %}
                {{ style.abv_min }} - {{ style.abv_max }}
              {% endif %}
            </td>
            <td>
              {% if style.ibu_min == 0 and style.ibu_max == 0 %}
                Any
              {% else %}
                {{ style.ibu_min }} - {{ style.ibu_max }}
              {% endif %}
            </td>
          </tr>
        {% else %}
            No users have been found.
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-3 col-md-3">
    <h2>Filter</h2>
    <div class="well well-sm well-dark">
      <div class="form-group">
        <label class="">ABV</label>
        <select class="form-control input-sm">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label class="">IBU</label>
        <select class="form-control input-sm">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
</div>
{% endblock %}
