{% extends "layout_secondary.html" %}
{% block script%}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="secondary-header">
      <h2>{{ style.name }}</h2>
      <div class="secondary-subset pull-right">
        <span class="label label-primary pull-right">
          <h6>{{ style.category }}</h6>
        </span>
        <span class="label label-primary pull-right">
          <h6>{{ style.origin }}</h6>
        </span>
      </div>
    </div>
    <div>
      <pre id="api-url">brewerwall.dev/api/styles/{{ style.id }}</pre>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">Original Gravity</label>
    <p>{{ style.og_min }} ({{ style.og_plato_min }}&deg;) - {{ style.og_max }} ({{ style.og_plato_max }}&deg;)</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">Final Gravity</label>
    <p>{{ style.fg_min }} ({{ style.fg_plato_min }}&deg;) - {{ style.fg_max }} ({{ style.fg_plato_max }}&deg;)</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">ABW</label>
    <p>{{ style.abw_min }}% - {{ style.abw_max }}%</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">ABV</label>
    <p>{{ style.abv_min }}% - {{ style.abv_max }}%</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">IBU</label>
    <p>{{ style.ibu_min }} - {{ style.ibu_max }}</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">SRM</label>
    <p>{{ style.srm_min }} - {{ style.srm_max }}</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">EBC</label>
    <p>{{ style.ebc_min }} - {{ style.ebc_max }}</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">Year</label>
    <p>{{ style.year }}</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <label class="bold">Description</label>
    <p>{{ style.description }}</p>
  </div>
</div>
{% endblock %}
