{% extends "layout_secondary.html" %}
{% block script%}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="secondary-header">
      <h2>{{ yeast.laboratory }} - {{ yeast.name }}</h2>
      <div class="secondary-subset pull-right">
        <span class="label label-success pull-right">
          <h6>Form: {{ yeast.form }}</h6>
        </span>
        <span class="label label-primary pull-right">
          <h6>Strain: {% if yeast.strain != "" %} {{ yeast.strain }} {% else %} N/A {% endif %}</h6>
        </span>
      </div>
    </div>
    <div>
      <pre id="api-url">{{ domain }}/api/v1/yeasts/{{ yeast.id }}</pre>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">Attenuation</label>
    {% if yeast.attenuation_min == 0 and yeast.attenuation_max == 0 %}
      <p>Any</p>
    {% elseif yeast.attenuation_min == yeast.attenuation_max and yeast.attenuation_max > 0 %}
      <p>{{ yeast.attenuation_min }}% +</p>
    {% else %}
      <p>{{ yeast.attenuation_min }}% - {{ yeast.attenuation_max }}%</p>
    {% endif %}
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">Flocculation</label>
    {% if yeast.flocculation != "" %}
      <p>{{ yeast.flocculation }}</p>
    {% else %}
      <p>N/A</p>
    {% endif %}
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">Temperature</label>
    {% if yeast.temperature_min == 0 and yeast.temperature_max == 0 %}
      <p>Any</p>
    {% elseif yeast.temperature_min == yeast.temperature_max and yeast.temperature_min > 0 %}
      <p>{{ yeast.temperature_min }} &deg;F +</p>
    {% else %}
      <p>{{ yeast.temperature_min }} &deg;F - {{ yeast.temperature_max }} &deg;F</p>
    {% endif %}
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <label class="bold">Tolerance</label>
    <p>
      {% if yeast.tolerance > 0 %}
        {{ yeast.tolerance }}% ABV
      {% else %}
        N/A
      {% endif %}
      </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <label class="bold">Description</label>
    <p>{{ yeast.description }}</p>
  </div>
</div>
{% endblock %}
