<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="secondary-header with-bar">
      <h2>Yeasts</h2>
      <a id="filters-toggle" class="btn btn-primary pull-right btn-filters visible-xs">Filters</a>
      <br class="visible-xs"/>
      <div id="filters-container" class="filters-container">
        <div class="form-group">
          <label>Attenuation</label>
          <select id="attenuation" class="form-control input-sm filter">
            <option value="0">Any</option>
            <% for (x = _i = 0; _i <= 100; x = ++_i) { %>
              <option value="<%= x %>"><%= x %></option>
            <% } %>
          </select>
        </div>
        <br class="visible-xs"/>
        <div class="form-group">
          <label>Temperature</label>
          <select id="temperature" class="form-control input-sm filter">
            <option value="0">Any</option>
            <% for (x = _i = 45; _i <= 95; x = ++_i) { %>
              <option value="<%= x %>"><%= x %></option>
            <% } %>
          </select>
        </div>
        <br class="visible-xs"/>
        <div class="form-group">
          <label>Tolerance</label>
          <select id="tolerance" class="form-control input-sm filter">
            <option value="0">Any</option>
            <% for (x = _i = 1; _i <= 25; x = ++_i) { %>
              <option value="<%= x %>"><%= x %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <div>
      <pre id="api-url"><%= _domain %>/api/yeasts</pre>
    </div>
    <div id="list"></div>
  </div>
</div>
